<!DOCTYPE html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='/css/navbar.scss'>
<link rel='stylesheet' href='/css/main.scss'>
<link rel="manifest" href="/json/rblpwa.webmanifest" />
<script async src="https://arc.io/widget.min.js#d3b4eyYS"></script>
<link rel="shortcut icon" href="/img/icon.webp" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css"/>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7598475548528401"
     crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.demo-preview {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.alert {
  padding: .7143rem 1.071rem;
  margin-bottom: 1.429rem;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #FFF
}

.alert.alert-square {
  border-radius: 0
}

.alert .close {
  position: relative
}

.alert.alert-dismissable,
.alert.alert-dismissible {
  padding-right: 2.5rem
}

.alert.alert-dismissable .close,
.alert.alert-dismissible .close {
  top: -2px;
  right: -20px;
  color: inherit
}

.alert.alert-primary {
  background-color: #2196F3;
  border-color: #2196F3
}

.alert.alert-secondary {
  background-color: #323a45;
  border-color: #323a45
}

.alert.alert-success {
  background-color: #64DD17;
  border-color: #64DD17
}

.alert.alert-info {
  background-color: #29B6F6;
  border-color: #29B6F6
}

.alert.alert-warning {
  background-color: #FFD600;
  border-color: #FFD600
}

.alert.alert-danger {
  background-color: #ef1c1c;
  border-color: #EF5350
}
</style>
<script>
if (document.baseURI.toString().split("message=")[1].split("&")[0]){
document.getElementById("myHeading").innerHTML = "<div style="border: 1px solid darkred; background: salmon"> <i>&#9888;</i> ERROR: document.baseURI.toString().split("message=")[1].split("&")[0]</div>"
}
</script>
<div id="myHeading">!!</div>
