<head>
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
    <title>Partners - Revolt Bots</title>
    <%- include("./parts/head.ejs") %>
  </head>
  <%- include("./parts/nav.ejs") %>
  <div class="text-center" style="margin-top: 150px;">
    <img src="https://revolt.chat/_next/static/media/revolt-logo.24213514.svg" style="width: 185px;" alt="logo">
    <h2 style="color: white"><b>BOTS</b></h2><br>
    <h3 style="color: white"><b>Partners</b></h3>
   <div>
   <h4 style="color: white">Disforge.com: Browse thousands of</h4>
   <h4 style="color: white">Discord bots and servers!</h4>
   <a href="https://disforge.com" target="_"><img src="/img/partner/disforge_com.png"></a>

   </div>

   <div>
   <h4 style="color: white">Emoji.gg: Browse thousands of</h4>
   <h4 style="color: white">Emojis for Discord and Slack!</h4>
   <a href="https://emoji.gg" target="_"><img src="/img/partner/emoji_gg.png"></a>
